body {
    background-image: url("img/papier1.jpg");
    font-family: 'Arial', sans-serif;

}

#title {
    width: 30%;
    background-color: rgb(225, 86, 51);
    height: 10%;
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 50px #ff0000;
}

#autor {
    width: 25%;
    background-color: rgb(225, 86, 51);
    height: 10%;
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 90%;
}

#filler {
    clear: both;
}

#menu {
    width: 20%;
    background-color: #5bc538;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
    float: right;
    text-align: center;
    margin-right: 5%;
    box-shadow: 10px 10px 50px #87ef60;
}

#tradycje_menu {
    border-radius: 25px;
    border: 2px black dotted;
    color: #1e361e;
}

#container {
    width: 65%;
    background-color: #e5ff76;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 25px;
    float: left;
    margin-left: 5%;
    box-shadow: 10px 10px 50px #fffa00;
}

#header {
    text-align: center;
}

#content {
    margin-left: 2%;
    margin-right: 2%;
}
#text {
    float: left;

}

#footer_site {
    clear: both;
    width: 90%;
    background-color: #3b9ba8;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 25px;
    box-shadow: 10px 10px 50px #1737a2;
    float: right;
    margin: 50px 5%;
}

#footer_txt {
    margin: 1% 2%;
    text-align: center;
}

a {
    color: #1e361e;
}

#a2 {
    color: black;
}

#a3 {
    color: #064606;
}

/*/Część na ubieranie choinki*/

#header_ch2 {
    clear: both;
    text-align: center;
}

#img1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #444b05;
}

#img2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #444b05;
}

#img3 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #444b05;
}

#img4 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #444b05;
}

/*/Część na prezenty*/

#header_pr2 {
    clear: both;
    text-align: center;
}

#img5 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #731616;
}

#img6 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #47493c;
}

#img7 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #ff0000;
}

#img8 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #70725e;
}

/*/Część na potrawy*/

#header_po2 {
    clear: both;
    text-align: center;
}

#img9 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #5e0c0c;
}

#img10 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #5b0d0d;
}

#img11 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #ff0000;
}

#img12 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #70725e;
}

/*/Część na kolendy*/

#header_ko2 {
    clear: both;
    text-align: center;
}

#img13 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #5e0c0c;
}

#img14 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #5b0d0d;
}

#kolendy {
    float: left;
}

#vid1   {
    border-radius: 25px;
}

#vid2   {
    border-radius: 25px;
}

#vid3   {
    border-radius: 25px;
}

#vid4   {
    border-radius: 25px;
}

#vid5   {
    border-radius: 25px;
}

#img15,  #img15_2, #img15_3, #img15_4{
    margin: 40px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #1f3d98;
}

/*/Część na przed wigilią*/

#header_pw2 {
    clear: both;
    text-align: center;
}

#img16 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #ad8c8c;
}

#img17 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #ad8c8c;
}

#img18 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 25px;
    float: left;
    box-shadow: 2px 2px 25px #54d391;
}

#img19 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    border-radius: 25px;
    float: right;
    box-shadow: 2px 2px 25px #54d391;
}
