body {
    background-color: #828645;
    font-family: 'Lato', sans-serif;
}

#title {
    width: 15%;
    background-color: #778024;
    height: 10%;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
    float: left;
    text-align: center;

}

#menu   {
    width: 60%;
    background-color: #778024;
    height: 10%;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
    float: left;
    margin-right: auto;
    text-align: center;
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccd38b;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 25px;
    clear: both;
}

#header {
    height: 10%;
    padding: 10px;
    box-sizing: border-box;
}

#content {

}

#footer {

}