* {
    font-family: Verdana, serif;
}

#header {
    background-color:  #9692B1;
    color: white;
    text-align: center;
    height: 80px;
}

#nav    {
    background-color:  #9692B1;
    color: white;
    width: 20%;
    height: 750px;
    float: left;
}

#content1 {
    background-color: #FFF4CC;
    width: 80%;
    height: 300px;
    text-align: center;
    float: left;
}

#content2 {
    background-color: #DBCC93;
    width: 80%;
    height: 450px;
    text-align: center;
    float: left;
}

#footer {
    clear: both;
    background-color: #9692B1;
    color: white;
    text-align: right;
}

a {
    color: white;
}

#content1 img {
    width: 15%;
    margin-outside: 20px;
}

#content2 img {
    margin-top: 25px;
    border: 4px #9692B1 solid;
}

#content2 img:hover {
    border-color: rgb(128, 128, 128);
}